*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{  height: 100vh;
  background: black;
  color: white;
  background-size: cover;
  background-image: url(Image/test.jpg);
  background-position:center;
  display: flex;
  align-items:center;
  justify-content:center;
  perspective: 1000px;
  overflow: hidden;
}
h3{
  text-align: center;
  font-size: 25px;
  margin: 0;
  padding-top: 10px;
}
p{
  font-size:2.5vh;
}
a{
  text-decoration: none;
}
.box{
  height: 54vh;
 width: 39vh;
 color:black;
 background: white;
 position:absolute;
 border-radius: 30px 30px 30px 30px;
 z-index: -1;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
  padding:0px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0,0,0,.22);
  transition: .4s;
  background-color: #f2f2f2;
  margin: 10px;
}
.box-1{
  transform: rotateY(170deg);
}
.box:hover{
  box-shadow: 0 3px 6px rgba(255,255,255,0.16),
  0 3px 6px rgba(255,255,255,0.23);
  transform: translate(0,-8px);
}
.box-1:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16),
  0 3px 6px rgba(0,0,0,0.23);
  transform: translate(0,-8px) rotateY(170deg);
}
.dish{
  width:100%;
  height:200px;
  margin:0;
  display: block;
  padding:0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  object-fit: cover;
  object-position: center;
}
.page button{
  text-align: center;
  font-size: 24px;
  color: white;
  width: 100%;
  height: 7.5vh;
padding: 5px;
outline: none;
border: 0;
margin-top: 8px;
border-bottom-right-radius: 30px;
border-bottom-left-radius: 30px;
cursor: pointer;
}
.button-1{
  background-color: #8E3623;
}
.button-2{
  background-color: #1628DC;
}
.book{
  margin-top: 500px;
  background-color: white;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cover{
  z-index: 2;
  transition: all 3s;
}
.back-cover{
  z-index: -2;
}
.cover-pic{
  height: 60vh;
  width: 42vh;;
  background-color: #353755;
  border-radius: 2px 20px 20px 2px;
  position: absolute;
  transform-origin: center left;
}
.cover,
.back-cover{
  height: 60vh;
  width: 42vh;;
  background-color: #353755;
  border-radius: 2px 20px 20px 2px;
  position: absolute;
  box-shadow: 1px 1px 10px gray;
  transform: rotateX(60deg) translateY(-50px) skewX(-5deg) skewY(5deg) ;
  transform-origin: center left;
}
.page{
  height: 56vh;
 width: 40vh;
 background:#353755;
 position: absolute;
 border-radius: 10px 10px 10px 1px;
 transform:rotateX(60deg) translateY(-50px) skewX(-5deg) skewY(5deg);
 transform-origin: center left;
 z-index: -1;
}
.first{
  height: 60vh;
  width: 42vh;;
  background-color: #353755;
  border-radius: 2px 20px 20px 2px;
  position: absolute;
  box-shadow: 1px 1px 10px gray;
  transform: rotateX(60deg) translateY(-50px) skewX(-5deg) skewY(5deg) ;
  transform-origin: center left;
  z-index: 0;
}
.toggle input{
  display: none;
}
/* Input checked Animation */


.toggle input:checked~.book .cover{
animation: cover 1.6s ease-in forwards;
}
.toggle input:checked~.book .page{
animation: page 1.6s ease-in forwards;
}
.toggle input:checked~.book .back-cover{
animation: back-cover 1.6s ease-in forwards;
}
.toggle input:checked~.book .first{
  animation: first 1.6s ease-in forwards;
}


/* INPUT NOT CHECKED Animation*/

.toggle input:not(:checked)~.book .cover{
  animation: cover-back 1.6s ease-in forwards alternate-reverse;
  }
  .toggle input:not(:checked)~.book .page{
    animation: page-back 1.6s ease-in forwards alternate-reverse;
    }
    .toggle input:not(:checked)~.book .back-cover{
    animation: back-cover-back 1.6s ease-in forwards alternate-reverse;
    }
    .toggle input:not(:checked)~.book .first{
      animation: first-back 1.6s ease-in forwards alternate-reverse;  
    }


/* Input checked keyframe */

@keyframes first {
  50%{
    margin-bottom: 300px;
    transform:rotateX(10deg);
    animation-timing-function: ease-in;
  }
  100%{
    z-index: 2;
    margin-bottom: 400px;
    transform:translateX(0%)rotateX(10deg)rotateY(180deg);
    animation-timing-function: ease-in;
  }
  }
@keyframes cover {
  50%{
    margin-bottom: 300px;
    transform:rotateX(10deg);
    animation-timing-function: ease-in;
  }
  100%{
    margin-bottom: 400px;
    transform:rotateX(10deg)rotateY(180deg);
    animation-timing-function: ease-in;
  }

}
@keyframes page{
  50%{
    margin-bottom: 300px;
    transform:rotateX(10deg);
    animation-timing-function: ease-in;
  }
  100%{
    margin-bottom: 400px;
    transform:translateX(2%)rotateX(10deg);
    animation-timing-function: ease-in;
  }
  }
@keyframes back-cover {
  50%{
    margin-bottom: 300px;
    transform:rotateX(10deg);
    animation-timing-function: ease-in;
  }
  100%{
    margin-bottom: 400px;
    transform:rotateX(10deg);
    animation-timing-function: ease-in;
  }
}


/* Input not checked  keyframes */

@keyframes cover-back {
  50%{
    margin-bottom: 300px;
    transform:rotateX(10deg);
    animation-timing-function: ease-in;
  }
  100%{
    margin-bottom: 400px;
    transform:rotateX(10deg)rotateY(180deg);
    animation-timing-function: ease-in;
  }
}
@keyframes first-back {
  50%{
    margin-bottom: 300px;
    transform:rotateX(10deg);
    animation-timing-function: ease-in;
  }
  100%{
    z-index: 2;
    margin-bottom: 400px;
    transform:translateX(0%)rotateX(10deg)rotateY(180deg);
    animation-timing-function: ease-in;
  }
  }
  @keyframes page-back{
    50%{
      margin-bottom: 300px;
      transform:rotateX(10deg);
      animation-timing-function: ease-in;
    }
    100%{
      margin-bottom: 400px;
      transform:translateX(2%)rotateX(10deg);
      animation-timing-function: ease-in;
    }
    }
  @keyframes back-cover-back {
    50%{
      margin-bottom: 300px;
      transform:rotateX(10deg);
      animation-timing-function: ease-in;
    }
    100%{
      margin-bottom: 400px;
      transform:rotateX(10deg);
      animation-timing-function: ease-in;
    }
  }